<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <title>2013년</title>
        <link rel="stylesheet" href="{% static 'css/style_winter.css' %}">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>
        {% include 'header_w.html' %}
        {% include 'category_w.html' %}

        <!-- 표 그리는 부분입니다. -->
        <table border="1">
            <tr>
                <th>노래</th>
                <th>가수</th>
            </tr>
            {% for title, singer in dic.items %}
            <tr>
                <td>{{ title }}</td>
                <td>{{ singer }}</td>
            </tr>
            {% endfor %}
        </table>
        
    </body>
    {% include 'footer_w.html' %}
</html>